<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
<!--   1.扫描相关的service包-->
    <context:component-scan base-package="com.zj.service"/>


<!--    2.导入BookServiceImpl进入容器中-->
    <bean class="com.zj.service.BookServiceImpl" id="bookServiceImpl">
        <property name="booksMapper" ref="bookMapper"/>
    </bean>


<!--    3.配置声明式事务管理器 让事务自动提交-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="dataSourceTransactionManager">
<!--        注入数据源-->

        <property name="dataSource" ref="dataSource"/>

    </bean>




</beans>